# Copie este arquivo para .env e preencha. O .env NUNCA vai para o Git.
MATRICULA=26127984
DOCKERHUB_USER=viccavalcante

MARIADB_DATABASE=agrovale_blog
MARIADB_USER=agrovale
MARIADB_PASSWORD=251207Vi
MARIADB_ROOT_PASSWORD=251207victoor

